@charset 'utf-8';
@import 'settings.css';
@import 'mwyatt-codex/css/reset.css';
@import 'mwyatt-codex/css/reusable.css';
@import 'mwyatt-codex/css/keyframe.css';
@import 'mwyatt-codex/css/form.css';
@import 'mwyatt-codex/css/typography.css';
@import 'mwyatt-codex/css/link.css';
@import 'mwyatt-codex/css/button.css';
@import 'mwyatt-codex/css/general.css';
@import 'default.css';

.site-heading-menu {
    min-height: 80px;
}

.dialogue-title {
    font-size: 18px;
    font-weight: 600;
}

.dialogue-description {
    margin: 1em 0;
    line-height: 1.5;
}

.dialogue-actions {
    height: 28px;
}

.demos-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.demo-single {
    min-width: 300px;
    max-width: 600px;
    width: 50%;
    padding: 1em;
    flex-grow: 1;
    border: 1px solid blue;
}

.button.demo-dialogue {
    flex-grow: 1;
    flex-basis: 200px;
    background: rgba(#fff, .3);
    color: #fff;
    border-radius: 3px;
    padding: 24px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}

.dialogue .button {
    padding: 6px 9px;
    color: #fff;
    border-radius: var(--border-radius);
}

.dialogue .button:focus {
    box-shadow: 0 0 3px var(--color-secondary-1-0);
}
