@charset 'utf-8';
@import 'settings.css';
@import 'mwyatt-codex/css/reset.css';
@import 'mwyatt-codex/css/reusable.css';
@import 'mwyatt-codex/css/keyframe.css';
@import 'mwyatt-codex/css/form.css';
@import 'mwyatt-codex/css/typography.css';
@import 'mwyatt-codex/css/link.css';
@import 'mwyatt-codex/css/button.css';
@import 'mwyatt-codex/css/general.css';
@import 'default.css';

.dialogue-title {
    font-size: 18px;
    font-weight: 600;
}

.dialogue-description {
    margin: 1em 0;
    line-height: 1.5;
}

.dialogue-actions {
    height: 24px;
}

.demos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.demo-single {
    min-width: 300px;
    max-width: 600px;
    width: 50%;
    padding: 1em;
    flex-grow: 1;
    border: 1px solid blue;
}

.button.demo-dialogue {
    background: #fff;
    color: #666;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 1em 0;
    text-align: left;
}
