:root {
  --color-primary-0: #26b2d0;
  --color-primary-1: color(var(--color-primary-0) shade(25%));
  --color-primary-2: color(var(--color-primary-0) shade(50%));
  --color-primary-3: color(var(--color-primary-0) tint(25%));
  --color-primary-4: color(var(--color-primary-0) tint(50%));
  --color-secondary-1-0: #7b7a78;
  --color-secondary-1-1: color(var(--color-secondary-1-0) shade(25%));
  --color-secondary-1-2: color(var(--color-secondary-1-0) shade(50%));
  --color-secondary-1-3: color(var(--color-secondary-1-0) tint(25%));
  --color-secondary-1-4: color(var(--color-secondary-1-0) tint(50%));
  --color-secondary-2-0: #f47249;
  --color-secondary-2-1: color(var(--color-secondary-2-0) shade(25%));
  --color-secondary-2-2: color(var(--color-secondary-2-0) shade(50%));
  --color-secondary-2-3: color(var(--color-secondary-2-0) tint(25%));
  --color-secondary-2-4: color(var(--color-secondary-2-0) tint(50%));
  --font-family: 'Open Sans', 'Arial', 'sans-serif';
  --font-weight: 400;
  --font-size: 16px;
  --font-line-height: 1.5;
  --body-color: var(--color-secondary-1-1);
  --selection-color: #ffffff;
  --selection-background-color: var(--color-primary-0);
  --placeholder-color: color(#ffffff shade(30%));
  --heading-color: var(--color-secondary-1-1);
  --font-family-heading: var(--font-family);
  --font-weight-heading: 600;
  --border-radius: 3px;
  --animation-duration: 250ms; /*needed?*/
  --background-color: #ccc;
}
